<div>
  <h2 id="page-heading" data-cy="BoulderHeading">
    <span jhiTranslate="gripHubApp.boulder.home.title">Boulders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gripHubApp.boulder.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-boulder"
        [routerLink]="['/boulder/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gripHubApp.boulder.home.createLabel">Create a new Boulder</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (boulders().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gripHubApp.boulder.home.notFound">No Boulders found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="gripHubApp.boulder.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="grade">
              <div class="d-flex">
                <span jhiTranslate="gripHubApp.boulder.grade">Grade</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="note">
              <div class="d-flex">
                <span jhiTranslate="gripHubApp.boulder.note">Note</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="slope">
              <div class="d-flex">
                <span jhiTranslate="gripHubApp.boulder.slope">Slope</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="wall.id">
              <div class="d-flex">
                <span jhiTranslate="gripHubApp.boulder.wall">Wall</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (boulder of boulders(); track trackId(boulder)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/boulder', boulder.id, 'view']">{{ boulder.id }}</a>
              </td>
              <td>{{ boulder.name }}</td>
              <td>{{ boulder.grade }}</td>
              <td>{{ boulder.note }}</td>
              <td>{{ boulder.slope }}</td>
              <td>
                @for (wall of boulder.walls; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/wall', wall.id, 'view']">{{ wall.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/boulder', boulder.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/boulder', boulder.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(boulder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
