<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (hold(); as holdRef) {
      <div>
        <h2 data-cy="holdDetailsHeading"><span jhiTranslate="gripHubApp.hold.detail.title">Hold</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ holdRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gripHubApp.hold.photoCoordinatesX">Photo Coordinates X</span></dt>
          <dd>
            <span>{{ holdRef.photoCoordinatesX }}</span>
          </dd>
          <dt><span jhiTranslate="gripHubApp.hold.photoCoordinatesY">Photo Coordinates Y</span></dt>
          <dd>
            <span>{{ holdRef.photoCoordinatesY }}</span>
          </dd>
          <dt><span jhiTranslate="gripHubApp.hold.column">Column</span></dt>
          <dd>
            <span>{{ holdRef.column }}</span>
          </dd>
          <dt><span jhiTranslate="gripHubApp.hold.row">Row</span></dt>
          <dd>
            <span>{{ holdRef.row }}</span>
          </dd>
          <dt><span jhiTranslate="gripHubApp.hold.holdType">Hold Type</span></dt>
          <dd>
            <span [jhiTranslate]="'gripHubApp.HoldType.' + (holdRef.holdType ?? 'null')">{{
              { null: '', CRIMP: 'crimp', SLOPER: 'sloper', JUG: 'jug', PINCH: 'pinch', FOOTHOLD: 'foothold' }[holdRef.holdType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gripHubApp.hold.holdDifficulty">Hold Difficulty</span></dt>
          <dd>
            <span [jhiTranslate]="'gripHubApp.Difficulty.' + (holdRef.holdDifficulty ?? 'null')">{{
              { null: '', EASY: 'easy', MEDIUM: 'medium', HARD: 'hard' }[holdRef.holdDifficulty ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gripHubApp.hold.wall">Wall</span></dt>
          <dd>
            @if (hold()!.wall) {
              <div>
                <a [routerLink]="['/wall', hold()!.wall?.id, 'view']">{{ holdRef.wall?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gripHubApp.hold.boulder">Boulder</span></dt>
          <dd>
            @if (hold()!.boulder) {
              <div>
                <a [routerLink]="['/boulder', hold()!.boulder?.id, 'view']">{{ holdRef.boulder?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/hold', holdRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
