<div>
  <h2 id="page-heading" data-cy="WallHeading">
    <span jhiTranslate="gripHubApp.wall.home.title">Walls</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gripHubApp.wall.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wall"
        [routerLink]="['/wall/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gripHubApp.wall.home.createLabel">Create a new Wall</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (walls().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gripHubApp.wall.home.notFound">No Walls found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="gripHubApp.wall.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="height">
              <div class="d-flex">
                <span jhiTranslate="gripHubApp.wall.height">Height</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="width">
              <div class="d-flex">
                <span jhiTranslate="gripHubApp.wall.width">Width</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="minSlope">
              <div class="d-flex">
                <span jhiTranslate="gripHubApp.wall.minSlope">Min Slope</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="maxSlope">
              <div class="d-flex">
                <span jhiTranslate="gripHubApp.wall.maxSlope">Max Slope</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="photo">
              <div class="d-flex">
                <span jhiTranslate="gripHubApp.wall.photo">Photo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (wall of walls(); track trackId(wall)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/wall', wall.id, 'view']">{{ wall.id }}</a>
              </td>
              <td>{{ wall.name }}</td>
              <td>{{ wall.height }}</td>
              <td>{{ wall.width }}</td>
              <td>{{ wall.minSlope }}</td>
              <td>{{ wall.maxSlope }}</td>
              <td>
                @if (wall.photo) {
                  <a (click)="openFile(wall.photo, wall.photoContentType)">
                    <img [src]="'data:' + wall.photoContentType + ';base64,' + wall.photo" style="max-height: 30px" alt="wall" />
                  </a>
                  <span>{{ wall.photoContentType }}, {{ byteSize(wall.photo) }}</span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/wall', wall.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/wall', wall.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(wall)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
